{% extends "base.html" %}

{% block content %}
  <div class="image-content">
    <img
      src="/static/images/word_import-900w.png"
      srcset="
        /static/images/word_import-300w.png 300w,
        /static/images/word_import-600w.png 600w,
        /static/images/word_import-900w.png 900w
      "
      sizes="(max-width: 768px) 100vw, 50vw"
      alt="Word Import for monday.com"
      class="section-image"
      loading="lazy"
    />
  </div>
  <a
    href="https://auth.monday.com/oauth2/authorize?client_id=084113fa62d8a74db3644f1cc4722deb&response_type=install"
  >
    <img
      alt="Add to monday.com"
      src="https://dapulse-res.cloudinary.com/image/upload/f_auto,q_auto/remote_mondaycom_static/uploads/Tal/4b5d9548-0598-436e-a5b6-9bc5f29ee1d9_Group12441.png"
      style="width: 250px; height: auto;"
    />
  </a>
  {{ content|safe }}
{% endblock %}
