<!doctype html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicons/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='external/simple.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="rgb(163,223,247)" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="clouds-svg">
      <img
        src="{{ url_for('static', filename='svg/clouds.svg') }}"
        alt="clouds"
      />
    </div>
    <header>
      <a href="/" class="logo-container">
        <img
          src="/static/svg/westsmith.svg"
          alt="Westsmith logo icon"
          class="logo-icon"
        />
        <span class="logo-text">westsmith</span>
      </a>

      <button class="hamburger" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <nav>
        <ul>
          <li>
            <a href="{{ nav.services.link }}">{{ nav.services.title }}</a>
          </li>
          <li>
            <a href="{{ nav.products.link }}">{{ nav.products.title }}</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>
        © 2019-2025 Westsmith Ltd •
        <a href="mailto:info@westsmith.co.uk">info@westsmith.co.uk</a> • The
        Incuhive Space, Hursley Park Road, Hursley, Winchester, England, SO21
        2JN • UK Company Number 11859881 • VAT Number GB 325417026
      </p>
      <div>
        <a
          href="https://www.linkedin.com/company/68701626"
          class="fa fa-linkedin"
        ></a>
        <a href="https://github.com/westsmith-open" class="fa fa-github"></a>
        <a href="mailto:info@westsmith.co.uk" class="fa fa-envelope"></a>
        <a
          href="https://www.youtube.com/@westsmith-apps"
          class="fa fa-youtube"
        ></a>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  </body>
</html>
