<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='external/simple.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img
              src="/static/img/westsmith.svg"
              alt="Westsmith logo icon"
              class="logo-icon"
            />
            <span class="logo-text">westsmith</span>
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="{{ nav.services.link }}">
              {{ nav.services.title }}
            </a>
            <a class="navbar-item" href="{{ nav.products.link }}"
              >{{ nav.products.title }}
            </a>
          </div>
        </div>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>
        © 2019-2025 Westsmith Ltd •
        <a href="mailto:info@westsmith.co.uk">info@westsmith.co.uk</a> • The
        Incuhive Space, Hursley Park Road, Hursley, Winchester, England, SO21
        2JN
      </p>
      <p>
        Built with
        <a href="https://www.python.org/">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg"
            alt="Python Logo"
            width="20"
            height="20"
          />Python</a
        >
      </p>
    </footer>
  </body>
</html>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
