<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='external/simple.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo-container">
        <img
          src="/static/img/westsmith.svg"
          alt="Westsmith logo icon"
          class="logo-icon"
        />
        <span class="logo-text">westsmith</span>
      </a>
      {% if nav %}
        <nav>
          <ul>
            {% for nav_link, nav_title in nav.items() %}
              <li><a href="{{ nav_link }}">{{ nav_title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>
        © 2019-2025 Westsmith Ltd •
        <a href="mailto:info@westsmith.co.uk">info@westsmith.co.uk</a> • The
        Incuhive Space, Hursley Park Road, Hursley, Winchester, England, SO21
        2JN
      </p>
      <p>
        Built with
        <a href="https://www.python.org/">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg"
            alt="Python Logo"
            width="20"
            height="20"
          />Python</a
        >
      </p>
    </footer>
  </body>
</html>
