<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='external/simple.min.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My New Website</title>
  </head>
  <body>
    <header>
      <h1>Westsmith</h1>
      <p>Welcome to my hjg {{ name }}!</p>
    </header>

    <main>
      <p>
        This is my using Simple.css. It's really cool. If you want to use it
        too, you can
        <a href="https://simplecss.org">visit their site</a>.
      </p>
    </main>

    <footer>
      <p>
        © 2019-2025 Westsmith Ltd • info@westsmith.co.uk • The Incuhive Space,
        Hursley Park Road, Hursley, Winchester, England, SO21 2JN
      </p>
    </footer>
  </body>
</html>
