header {
    background: url('../img/clouds.svg') no-repeat center top / cover;
    border-bottom: none !important;
}

.logo {
  /*display: flex;*/
  /*align-items: center;*/
  /*gap: 0.5rem;*/
  text-decoration: none;
}

/*.logo-icon {*/
/*  height: 40px; !* or whatever fits your design *!*/
/*  width: auto;*/
/*}*/

.logo-text {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  color: #164E87; /* Adjust to match your theme */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.9rem;
}

main {
    padding-top: 0;
}

main > *:first-child {
  margin-top: 0;
  padding-top: 0;
}